<div class="widget widget-chat">
    <h5 class="chat-title"><img src="/images/icon.png"> AngularJs UA (Rules: /get guidelines URL: <a href="http://bit.ly/angular-ua">http://bit.ly/angular-ua</a>) TIL: вимкнути сповіщення у чаті можна так /alertsoff або /help</h5>
    <div class="alert alert-info"><strong>Stepan Suvorov:</strong> В пятницу 21/12 состоится общий сбор ангулярщиков и триангулярщиков в ККЗ Украина. Форма одежды парадно-выходная, белый верх черный низ. Можно в пиджаках.</div>
    <div class="messages">
        <p class="message"><span class="time">[21:52:26]</span><span class="user">Stepan Suvorov</span><span class="content">а я буду API для записи в базу</span></p>
        <p class="message"><span class="time">[21:52:39]</span><span class="user">Serg Pereversev</span><span class="content">на пессенджере?)</span></p>
        <p class="message"><span class="time">[21:52:41]</span><span class="user">Stepan Suvorov</span><span class="content">мне нужно руби подтянуть на рабочего проекта</span></p>
        <p class="message"><span class="time">[21:53:00]</span><span class="user">Stepan Suvorov</span><span class="content">вот заколбашу рестик</span></p>
        <p class="message"><span class="time">[21:53:04]</span><span class="user">Stepan Suvorov</span><span class="content">на нем</span></p>
        <p class="message"><span class="time">[21:53:12]</span><span class="user">Stepan Suvorov</span><span class="content">чтобы можно было новую инфу заливать</span></p>
        <p class="message"><span class="time">[21:53:16]</span><span class="user">Stepan Suvorov</span><span class="content">и брать сообщения от туда</span></p>
        <p class="message"><span class="time">[21:53:25]</span><span class="user">Serg Pereversev</span><span class="content">ага</span></p>
        <p class="message"><span class="time">[21:53:25]</span><span class="user">Serg Pereversev</span><span class="content">круто</span></p>
        <p class="message"><span class="time">[21:56:06]</span><span class="user">Stepan Suvorov</span><span class="content">для базы мускуль?</span></p>
        <p class="message"><span class="time">[21:56:51]</span><span class="user">Stepan Suvorov</span><span class="content">в общем вот тут</span></p>
        <p class="message"><span class="time">[21:56:52]</span><span class="user">Stepan Suvorov</span><span class="content">III 29 nov (review - 29 nov)</span></p>
        <p class="message"><span class="time">[21:56:59]</span><span class="user">Stepan Suvorov</span><span class="content">нужно будет уже базу накидать мне</span></p>
        <p class="message"><span class="time">[21:57:01]</span><span class="user">Stepan Suvorov</span><span class="content">для API</span></p>
        <p class="message"><span class="time">[21:57:37]</span><span class="user">Serg Pereversev</span><span class="content">да что угодно можно. это же твой модуль. хочешь — редис, хочешь — постгрес</span></p>
        <p class="message"><span class="time">[21:57:51]</span><span class="user">Serg Pereversev</span><span class="content">они оба вроде идеально подходят для складывания и чтения с небольшими апдейтами</span></p>
        <p class="message"><span class="time">[21:57:57]</span><span class="user">Serg Pereversev</span><span class="content">если мускул, то исам нам подойдет</span></p>
        <p class="message"><span class="time">[21:58:27]</span><span class="user">Serg Pereversev</span><span class="content">с редисом я только немножко работал. не уверен, что нам удастся оптимизировать структуры данных под него. это вроде хэш, насколько я помню</span></p>
        <p class="date">четверг, 27 ноября 2014</p>
        <p class="message"><span class="time">[00:01:18]</span><span class="user">Serg Pereversev</span><span class="content">пыщ</span></p>
        <p class="message"><span class="time">[00:01:19]</span><span class="user">Serg Pereversev</span><span class="content">ты еще тут?</span></p>
        <p class="message"><span class="time">[00:01:25]</span><span class="user you">Stepan Suvorov</span><span class="content">угу</span></p>
        <p class="message"><span class="time">[00:01:29]</span><span class="user you">Stepan Suvorov</span><span class="content">почти уже нет</span></p>
        <p class="message"><span class="time">[00:01:36]</span><span class="user">Serg Pereversev</span><span class="content">вопрос вдогонку</span></p>
        <p class="message"><span class="time">[00:01:42]</span><span class="user">Serg Pereversev</span><span class="content">я тут верчусь над версткой и виджетами</span></p>
        <p class="message"><span class="time">[00:01:47]</span><span class="user">Serg Pereversev</span><span class="content">сделал каждому по темплейту</span></p>
        <p class="message"><span class="time">[00:01:59]</span><span class="user">Serg Pereversev</span><span class="content">решение в лоб, которое я вижу из предыдущего опыта — каждому сделать по директиве</span></p>
        <p class="message"><span class="time">[00:02:04]</span><span class="user">Serg Pereversev</span><span class="content">но ты хотел каждому по модулю</span></p>
        <p class="message"><span class="time">[00:03:18]</span><span class="user">Serg Pereversev</span><span class="content">пыщ</span></p>
        <p class="message"><span class="time">[00:03:19]</span><span class="user">Serg Pereversev</span><span class="content">ты еще тут?</span></p>
        <p class="message"><span class="time">[00:03:25]</span><span class="user you">Stepan Suvorov</span><span class="content">угу</span></p>
        <p class="message"><span class="time">[00:03:29]</span><span class="user you">Stepan Suvorov</span><span class="content">почти уже нет</span></p>
        <p class="message"><span class="time">[00:03:36]</span><span class="user">Serg Pereversev</span><span class="content">вопрос вдогонку</span></p>
        <p class="message"><span class="time">[00:03:42]</span><span class="user">Serg Pereversev</span><span class="content">я тут верчусь над версткой и виджетами</span></p>
        <p class="message"><span class="time">[00:03:47]</span><span class="user">Serg Pereversev</span><span class="content">сделал каждому по темплейту</span></p>
        <p class="message"><span class="time">[00:03:59]</span><span class="user">Serg Pereversev</span><span class="content">решение в лоб, которое я вижу из предыдущего опыта — каждому сделать по директиве</span></p>
        <p class="message"><span class="time">[00:04:04]</span><span class="user">Serg Pereversev</span><span class="content">но ты хотел каждому по модулю</span></p>
    </div>
</div>