<div class="widget widget-userlist">
    <h4>Собеседники:</h4>
    <ul class="user-list">
        <li class="entypo-facebook" title="besuhoff"><i class="status status-online"></i>besuhoff</li>
        <li class="unauthorized" title="Alex Mihutskiy"><i class="status status-online"></i>Alex Mihutskiy</li>
        <li class="unauthorized" title="besuhoff"><i class="status status-away"></i>ihor_kerzhakov_kh</li>
        <li class="entypo-facebook" title="besuhoff"><i class="status status-away"></i>Stepan Suvorov</li>
        <li class="entypo-facebook" title="besuhoff"><i class="status status-online"></i>besuhoff</li>
        <li class="unauthorized" title="besuhoff"><i class="status status-online"></i>Alex Mihutskiy</li>
        <li class="entypo-facebook" title="besuhoff"><i class="status status-away"></i>Stepan Suvorov</li>
        <li class="entypo-facebook" title="besuhoff"><i class="status status-busy"></i>Sergey Vishnevsky</li>
        <li class="entypo-facebook" title="besuhoff"><i class="status status-busy"></i>stoopizza</li>
        <li class="unauthorized" title="besuhoff"><i class="status status-away"></i>ihor_kerzhakov_kh</li>
        <li class="entypo-facebook" title="besuhoff"><i class="status status-away"></i>Stepan Suvorov</li>
        <li class="entypo-facebook" title="besuhoff"><i class="status status-online"></i>besuhoff</li>
        <li class="entypo-facebook" title="Alex Mihutskiy"><i class="status status-away"></i>Stepan Suvorov</li>
        <li class="unauthorized" title="Alex Mihutskiy"><i class="status status-unknown"></i>Тамерлан Борисович Кириллов</li>
        <li class="entypo-facebook" title="Alex Mihutskiy"><i class="status status-busy"></i>Sergey Vishnevsky</li>
        <li class="entypo-facebook" title="Alex Mihutskiy"><i class="status status-offline"></i>alteregor</li>
        <li class="unauthorized" title="Alex Mihutskiy"><i class="status status-online"></i>Alex Mihutskiy</li>
        <li class="entypo-facebook" title="Stepan Suvorov"><i class="status status-away"></i>Stepan Suvorov</li>
        <li class="entypo-facebook" title="Stepan Suvorov"><i class="status status-busy"></i>Sergey Vishnevsky</li>
        <li class="entypo-facebook" title="Stepan Suvorov"><i class="status status-busy"></i>stoopizza</li>
        <li class="entypo-facebook" title="Stepan Suvorov"><i class="status status-away"></i>Stepan Suvorov</li>
        <li class="unauthorized" title="Тамерлан Борисович Кириллов"><i class="status status-unknown"></i>Тамерлан Борисович Кириллов</li>
        <li class="entypo-facebook" title="tugarin"><i class="status status-unknown"></i>tugarin</li>
    </ul>
</div>
